<f:layout name="Default"/>

<f:section name="docHeaderButtonsleft">
</f:section>

<f:section name="content">
	<h2>
		<f:translate key="module.testsuite.list.title"/>
	</h2>
	<f:for each="{testsuites}" as="testsuite">
		<h3>
			<f:link.action action="show" arguments="{testsuite:testsuite}">{testsuite.title}</f:link.action>
		</h3>
		<f:if condition="{testsuite.testruns}">
			<ul>
				<f:for each="{testsuite.testruns}" as="testrun">
					<li>
						<f:link.action action="show" controller="Testrun"
									   arguments="{testsuite:testsuite,testrunTitle:'{testrun.title}'}">
							<f:translate key="module.testsuite.show.testrun"
									 arguments="{1:testrun.title,2:'{testrun.executedComparisons.0}',3:'{testrun.executedComparisons.1}',4:'{testrun.newComparisons->f:count()}',5:'{testrun.passedComparisons->f:count()}',6:'{testrun.failedComparisons->f:count()}',7:'{testrun.timedoudComparisons->f:count()}'}"/>
						</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:if>
	</f:for>
</f:section>