<f:layout name="Default"/>

<f:section name="docHeaderButtonsleft">
</f:section>

<f:section name="content">
	<h2>
		<f:translate key="module.testsuite.show.title" arguments="{1:testsuite.title, 2:testsuite.identifier}"/>
	</h2>
	<p>{testsuite.command}</p>
	<f:for each="{testsuite.testruns}" as="testrun">
		<h3>
			<f:link.action action="show" controller="Testrun"
						   arguments="{testsuite:testsuite,testrunTitle:'{testrun.title}'}">
				<f:translate key="module.testsuite.show.testrun"
							 arguments="{1:testrun.title,2:'{testrun.executedComparisonsCounter.0}',3:'{testrun.executedComparisonsCounter.1}'}"/>
			</f:link.action>
		</h3>
		<ul>
			<li>
				<f:translate key="module.testsuite.show.newComparisons"
							 arguments="{1:'{testrun.newComparisons->f:count()}'}"/>
			</li>
			<li>
				<f:translate key="module.testsuite.show.passedComparisons"
							 arguments="{1:'{testrun.passedComparisons->f:count()}'}"/>
			</li>
			<li>
				<f:translate key="module.testsuite.show.failedComparisons"
							 arguments="{1:'{testrun.failedComparisons->f:count()}'}"/>
			</li>
			<li>
				<f:translate key="module.testsuite.show.timedoutComparisons"
							 arguments="{1:'{testrun.timedoutComparisons->f:count()}'}"/>
			</li>
			<li>
				<f:translate key="module.testsuite.show.casperTimedout"
							 arguments="{1:'{testrun.casperTimedout->f:count()}'}"/>
			</li>
			<li>
				<f:translate key="module.testsuite.show.screenshotCaptureFailed"
							 arguments="{1:'{testrun.screenshotCaptureFailed->f:count()}'}"/>
			</li>
		</ul>
	</f:for>
</f:section>