.tx_bgmvrt .clear {
	clear: both;
}

.tx_bgmvrt .comparisons h4:hover,
.tx_bgmvrt .comparisons ul li .comparisonTitle:hover {
	text-decoration: underline;
	cursor: pointer;
}

.tx_bgmvrt .comparisons ul {
	list-style-type: none;
}

.tx_bgmvrt .comparisons ul li {
	padding: 10px;
}

.tx_bgmvrt .comparisons ul li.acceptedComparisons_yes {
	background-color: rgba(0, 128, 0, 0.5);
}

.tx_bgmvrt .comparisons ul li.acceptedComparisons_no {
	background-color: rgba(255, 0, 0, 0.5);
}

.tx_bgmvrt .comparisons ul li.acceptedComparisons_maybe {
	background-color: rgba(255, 255, 0, 0.5);
}

.tx_bgmvrt .comparisons ul,
.tx_bgmvrt .comparisons ul .comparisonDetails {
	display: none;
}

.tx_bgmvrt .comparisons ul .comparisonImages .comparisonImage {
	width: 510px;
	height: 530px;
	border: 5px solid #eeeeee;
	border-top: 25px solid #eeeeee;
	margin: 10px;
	float: left;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: contain;
	background-position: center top;
	overflow: hidden;
}

.tx_bgmvrt .comparisons ul .comparisonImages .split-pane {
	width: 510px;
	height: 530px;
	border: 5px solid #eeeeee;
	float: left;
	margin: 10px;
}

.tx_bgmvrt .comparisons ul .comparisonImages .split-pane .split-pane-divider {
	background: #eeeeee;
}

.tx_bgmvrt .comparisons ul .comparisonImages .split-pane .divider-vertical {
	right: 50%;
	width: 5px;
}

.tx_bgmvrt .comparisons ul .comparisonImages .split-pane .split-pane-component {
	overflow: hidden;
}

.tx_bgmvrt .comparisons ul .comparisonImages .split-pane .left-component {
	right: 50%;
	margin-right: 5px;
}

.tx_bgmvrt .comparisons ul .comparisonImages .split-pane .right-component {
	width: 50%;
}

.tx_bgmvrt .comparisons ul .comparisonImages .split-pane p {
	white-space: nowrap;
	background-color: #eeeeee;
}

.tx_bgmvrt .comparisons ul .comparisonImages .split-pane .split-pane-component .comparisonImage {
	width: 500px;
	height: 500px;
	border: none;
	margin: 0;
	float: none;
	position: absolute;
	bottom: 0;
}

.tx_bgmvrt .comparisons ul .comparisonImages .split-pane .left-component .comparisonImage {
	left: 0;
	right: auto;
}

.tx_bgmvrt .comparisons ul .comparisonImages .split-pane .right-component .comparisonImage {
	left: auto;
	right: 0;
}