{namespace bgm=BGM\BgmVrt\ViewHelpers}
<f:layout name="Default"/>

<f:section name="docHeaderButtonsleft">
</f:section>

<f:section name="content">
	<h2>
		<f:translate key="module.testsuite.show.title"
					 arguments="{1:testrun.testsuite.title, 2:testrun.testsuite.identifier}"/>
	</h2>
	<p>{testrun.testsuite.command}</p>

	<h3>
		<f:translate key="module.testsuite.show.testrun"
					 arguments="{1:testrun.title,2:'{testrun.executedComparisonsCounter.0}',3:'{testrun.executedComparisonsCounter.1}'}"/>
	</h3>
	<div class="comparisons">
		<h4>
			<f:translate key="module.testsuite.show.newComparisons"
						 arguments="{1:'{testrun.newComparisons->f:count()}'}"/>
		</h4>
		<f:if condition="{testrun.newComparisons}">
			<ul>
				<f:for each="{testrun.newComparisons}" as="newComparison">
					<li>
						<span class="comparisonTitle">
							{settings.phantomcss.baseUrl}{newComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'url')} |
							{newComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'test')}
						</span>

						<div class="comparisonImages">
							<div data-src="{bgm:uri.image(src:'{newComparison}',baseUrl:'{settings.phantomcss.baseUrl}',testsRootDir:'{settings.phantomcss.testsRootDir}')}"
								 class="comparisonImage comparisonBaseImage">
							</div>
							<div class="clear"></div>
						</div>
					</li>
				</f:for>
			</ul>
		</f:if>
	</div>
	<div class="comparisons">
		<h4>
			<f:translate key="module.testsuite.show.passedComparisons"
						 arguments="{1:'{testrun.passedComparisons->f:count()}'}"/>
		</h4>
		<f:if condition="{testrun.passedComparisons}">
			<ul>
				<f:for each="{testrun.passedComparisons}" as="passedComparison">
					<li>
						<span class="comparisonTitle">
							{settings.phantomcss.baseUrl}{passedComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'url')} |
							{passedComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'test')}
						</span>

						<div class="comparisonImages">
							<div data-src="{bgm:uri.image(src:'{passedComparison}',baseUrl:'{settings.phantomcss.baseUrl}',testsRootDir:'{settings.phantomcss.testsRootDir}')}"
								 class="comparisonImage comparisonBaseImage">
							</div>
							<div class="clear"></div>
						</div>
					</li>
				</f:for>
			</ul>
		</f:if>
	</div>
	<div class="comparisons">
		<h4>
			<f:translate key="module.testsuite.show.failedComparisons"
						 arguments="{1:'{testrun.failedComparisons->f:count()}'}"/>
		</h4>
		<f:if condition="{testrun.failedComparisons}">
			<ul>
				<f:for each="{testrun.failedComparisons}" as="failedComparison">
					<li>
						<span class="comparisonTitle">
							{settings.phantomcss.baseUrl}{failedComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'url')} |
							{failedComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'test')} |
							{failedComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'moreInfo')}
						</span>

						<div class="comparisonImages">
							<div class="split-pane vertical-percent">
								<div class="split-pane-component left-component">
									<p>Comparison Base</p>
									<div data-src="{bgm:uri.image(src:'/{testrun.testsuite.identifier}/comparisonResults/{testrun.title}{failedComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:\'{settings.phantomcss.testsRootDir}\',part:\'url\')}/{failedComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:\'{settings.phantomcss.testsRootDir}\',part:\'test\')}',baseUrl:'{settings.phantomcss.baseUrl}',testsRootDir:'{settings.phantomcss.testsRootDir}')}"
										 class="comparisonImage comparisonBaseImage"></div>
								</div>
								<div class="split-pane-divider divider-vertical"></div>
								<div class="split-pane-component right-component">
									<p>Compared with</p>
									<div data-src="{bgm:uri.image(src:'/{testrun.testsuite.identifier}/comparisonResults/{testrun.title}{failedComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:\'{settings.phantomcss.testsRootDir}\',part:\'url\')}/{failedComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:\'{settings.phantomcss.testsRootDir}\',part:\'test\')}',baseUrl:'{settings.phantomcss.baseUrl}',testsRootDir:'{settings.phantomcss.testsRootDir}',type:'diff')}"
										 class="comparisonImage comparisonDiffImage"></div>
								</div>
							</div>
							<div data-src="{bgm:uri.image(src:'/{testrun.testsuite.identifier}/comparisonResults/{testrun.title}{failedComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:\'{settings.phantomcss.testsRootDir}\',part:\'url\')}/{failedComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:\'{settings.phantomcss.testsRootDir}\',part:\'test\')}',baseUrl:'{settings.phantomcss.baseUrl}',testsRootDir:'{settings.phantomcss.testsRootDir}',type:'fail')}"
								 class="comparisonImage comparisonFailedImage">
							</div>
							<div class="clear"></div>
						</div>
					</li>
				</f:for>
			</ul>
		</f:if>
	</div>
	<div class="comparisons">
		<h4>
			<f:translate key="module.testsuite.show.timedoutComparisons"
						 arguments="{1:'{testrun.timedoutComparisons->f:count()}'}"/>
		</h4>
		<f:if condition="{testrun.timedoutComparisons}">
			<ul>
				<f:for each="{testrun.timedoutComparisons}" as="timedoutComparison">
					<li>
						<f:link.external
								uri="{timedoutComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'url')}"
								target="_blank">
							{settings.phantomcss.baseUrl}{timedoutComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'url')} |
							{timedoutComparison->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'test')}
						</f:link.external>
					</li>
				</f:for>
			</ul>
		</f:if>
	</div>
	<div class="comparisons">
		<h4>
			<f:translate key="module.testsuite.show.casperTimedout"
						 arguments="{1:'{testrun.casperTimedout->f:count()}'}"/>
		</h4>
		<f:if condition="{testrun.casperTimedout}">
			<ul>
				<f:for each="{testrun.casperTimedout}" as="casperTimedout">
					<li>
						<f:link.external
								uri="{casperTimedout->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'url')}"
								target="_blank">
							{settings.phantomcss.baseUrl}{casperTimedout->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'url')}/{casperTimedout->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'test')}
							|
							{casperTimedout->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'moreInfo')}
						</f:link.external>
					</li>
				</f:for>
			</ul>
		</f:if>
	</div>
	<div class="comparisons">
		<h4>
			<f:translate key="module.testsuite.show.screenshotCaptureFailed"
						 arguments="{1:'{testrun.screenshotCaptureFailed->f:count()}'}"/>
		</h4>
		<f:if condition="{testrun.screenshotCaptureFailed}">
			<ul>
				<f:for each="{testrun.screenshotCaptureFailed}" as="screenshotCaptureFailed">
					<li>
						<f:link.external
								uri="{screenshotCaptureFailed->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'url')}"
								target="_blank">
							{settings.phantomcss.baseUrl}{screenshotCaptureFailed->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'url')}/{screenshotCaptureFailed->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'test')}
							|
							{screenshotCaptureFailed->bgm:splitComparisonPath(testrun:testrun,testsRootDir:'{settings.phantomcss.testsRootDir}',part:'moreInfo')}
						</f:link.external>
					</li>
				</f:for>
			</ul>
		</f:if>
	</div>
</f:section>